/* Updating general styles for fonts */

body {
  font-family: 'PT Serif', serif;
  font-size: 18px;
}

nav, h1, h2, h3, h4, h5 {
  font-family: 'Overpass', sans-serif;
}

/* Navbar Styling */

.navbar a {
  color: #fff;
}

.btn-contact {
  border-radius: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Expands the space between links in the navBar for mobile users. Also hides the button so it can be replaced with a regular link. */

@media only screen and (max-width: 767px) {

  ul.navbar-nav li.nav-item {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  ul.navbar-nav form {
    margin-top: 25px;
    margin-bottom: 25px;
  }

.button-contact {
  display: none;
}

}

/* Hides the normal-styled contact link on larger displays. */

@media only screen and (min-width: 767px) {
  li.nav-contact {
    display: none;
  }
}

/* Top-Content / Jumbotron Styling */

.jumbotron {

  background:
    /* top, transparent blue, faked with gradient */
    linear-gradient(
      rgba(40, 54, 64, 0.75),
      rgba(40, 54, 64, 0.75)
    ),
    /* bottom, image */
    url("images/zac-ong-453354-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 540px;
    color: #fff;
    /* Learned this transparency trick through a tutorial that can be found in the README file. */

  }

  small-markup {
    font-size: 14px;
    opacity: 0.7;
    font-family: 'Overpass';
    text-transform: capitalize;
    margin-bottom: -5px;
  }

  .salutation {
    font-family: 'PT Serif';
    font-size: 54px;
    font-weight: 500;
  }

  .sub-salutation {
    font-size: 22px;
  }

  p.sub-salutation {
    max-width: 85%;
  }

  .sub-salutation a {
    color: #ffcc33;
    opacity: unset;
    text-decoration: underline;
    font-weight: bold;
  }

  .jumbo-fix {
    margin-top: 70px;
    width: 55%;
  }

  /* Shrinks and re-aligns jumbotron content for smaller screens. Not perfect but should do for now. */

  @media only screen and (max-width: 767px) {
    .jumbo-fix {
      margin-top: 20px;
    }

    .small-markup {
      margin-left: 15px;
      margin-right: 15px;
    }

    .salutation {
      font-size: 46px;
      margin-left: 15px;
      margin-right: 15px;
    }

    .sub-salutation {
      font-size: 18px;
      margin-left: 15px;
      margin-right: 15px;
    }

    .jumbo-fix {
      width: 100%;
    }

    .jumbotron {
      height: 350px;
    }

  }

  /* Main Content Style */

  .content-container {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .section-header {
      font-size: 26px;
      font-family: 'Overpass';
      font-weight: bold;
      text-transform: capitalize;
      color: rgb(40, 54, 64);
      margin-bottom: 16px;
  }

  .section-details {
    font-size: 18px;
    color: #000;
    color: rgb(40, 54, 64);
    line-height: 30px;
  }

  ul.fa-ul {
    margin-left: 30px;
  }

  ul.fa-ul li {
    margin-top: 10px;
  }

  .section-style {
    border-left: solid 3px #ffcc33;
    padding-left: 25px;
  }

  /* Mobile styling for main content; pushes skills below bio and assigns it similar styling. Border increases on mobile devices. */

  @media only screen and (max-width: 767px) {
    .skills {
      border-left: solid 3px #ffcc33;
      padding-left: 25px;
      margin-top: 100px;
    }

  }

  @media only screen and (max-width: 475px) {

    .section-style, .skills {
      border-left: solid 5px #ffcc33;
    }

  }

  
